@use './variables' as *;
//   --color-background: #{$color-background};
//   --color-background-input: #{$color-background-input};

//   --color-primary: #{$color-primary};
//   --color-brand: #{$color-brand};
:root {

  // Colors

  --color-navbar: #{$color-navbar};
  --color-background: #{$color-background};
  --color-text-primary: #{$color-text-primary};
  --color-text-secondary: #{$color-text-secondary};
  --color-primary: #{$color-primary};
  --color-secondary: #{$color-secondary};

  
  --color-green: #{$color-green};
  --color-red: #{$color-red};
  --color-red-op-30: #{$color-red-op-30};

  --color-gray: #{$color-gray};
  --color-border: #{$color-border};


  // Spacing
  --spacing-xs: #{$spacing-xs};
  --spacing-sm: #{$spacing-sm};
  --spacing-md: #{$spacing-md};
  --spacing-lg: #{$spacing-lg};
  --spacing-xl: #{$spacing-xl};


  // Border Radius
  --radius-sm: #{$radius-sm};
  --radius-md: #{$radius-md};
  --radius-lg: #{$radius-lg};


  // Font Size
  --font-size-sm: #{$font-size-sm};
  --font-size-md: #{$font-size-md};
  --font-size-lg: #{$font-size-lg};
  --font-size-xl: #{$font-size-xl};
  --font-size-xxl: #{$font-size-xxl};
}