@use './variables';
@use './global';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-primary);
  font-family: Arial, sans-serif;
}