# =========================
# .NET / Visual Studio
# =========================

# Build
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Rider
.idea/

# Logs
*.log

# NuGet
packages/
*.nupkg
*.snupkg

# ASP.NET Core
wwwroot/

# Test results
TestResults/
*.trx

# Coverage
coverage/
*.coverage
*.coveragexml

# Publish
publish/
*.publishsettings

# User-specific files
*.csproj.user
*.rsuser

# Temporary files
*.tmp
*.temp

# OS
.DS_Store
Thumbs.db